<div class="footer clearfix col12">
  <div class="col2 pad4 newsletter">
    <a class="button big follow" href="http://twitter.com/mapkibera" target="_blank"><span class=""></span>Follow us</a>
    <a class="button big contact" href="{{site.baseurl}}/contact"><span class="pre-text icon reverse contact"></span>Contact us</a>
    <small>Subscribe to our newsletter</small>
  </div>

  <div class="col2 pad4">
    <h3>Our Work</h3>
    <div class="links">
      {% include footer-links.html category="work" %}
    </div>
  </div>
  <div class="col2 pad4">
    <h3>Themes / Data</h3>
    <div class="links">
      {% include footer-links.html category="theme" %}
    </div>
  </div>
  <div class="col2 pad4">
    <h3>Map Kibera Trust</h3>
    <div class="links">
      {% include footer-links.html category="about" %}
    </div>
  </div>
  <div class="col4 pad4 blogposts">
    <h3>Recent blog posts</h3>
    <div class="links">
      <script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.mapkibera.org%2Fblog%2Ffeed%2Fatom%2F&num=5&utf=y"  charset="UTF-8" type="text/javascript"></script>

      <noscript>
        <a href="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.mapkibera.org%2Fblog%2Ffeed%2Fatom%2F&num=5&utf=y&html=y">View RSS feed</a>
      </noscript>

    </div>
    <a id="read-more" href="http://mapkibera.org/blog/">Read more <span class="icon next blue"></span></a>
  </div>
</div>
