<div class="footer clearfix col12">
  <div class="col2 pad4 newsletter">
    <a class="button big follow" href="http://twitter.com/mapkibera" target="_blank"><span class=""></span>Follow us</a>
    <a class="button big contact" href="/contact"><span class="pre-text icon reverse contact"></span>Contact us</a>
    <small>Subscribe to our newsletter</small>
  </div>

  <div class="col2 pad4">
    <h3>Our Work</h3>
    <div class="links">
      
      <a id="footer-methods" href="/methods/">Methods</a>      
      <a id="footer-locations" href="/locations/">Locations</a>
      <a id="footer-tools" href="/tools/">Tools</a>
      <a id="footer-work-with-us" href="/work-with-us/">Work With Us</a>
      <a id="footer-projects" href="/projects/">Projects</a>
      
    </div>
  </div>
  <div class="col2 pad4">
    <h3>Themes / Data</h3>
    <div class="links">
      
      <a id="footer-theme-security" href="/theme/security">Security</a>
      <a id="footer-theme-watsan" href="/theme/watsan">Water/Sanitation</a>
      <a id="footer-theme-health" href="/theme/health">Health</a>
      <a id="footer-theme-education" href="/theme/education">Education</a>
      <a id="footer-theme-elections" href="/theme/elections">Elections</a>
      
    </div>
  </div>
  <div class="col2 pad4">
    <h3>Map Kibera Trust</h3>
    <div class="links">
      
      <a id="footer-about-members" href="/about/members">Members</a>
      <a id="footer-about-boardstaff" href="/about/board-staff">Staff / Board</a>
      <a id="footer-about-partners" href="/about/partners">Partners</a>
      <a id="footer-about-volunteers" href="/about/members">Volunteers</a>
      <a id="footer-about-medie" href="/about/medie">Media Coverage</a>
      
    </div>
  </div>
  <div class="col4 pad4 blogposts">
    <h3>Recent blog posts</h3>
    <div class="links">
      <script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.mapkibera.org%2Fblog%2Ffeed%2Fatom%2F&num=5&utf=y"  charset="UTF-8" type="text/javascript"></script>

      <noscript>
        <a href="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.mapkibera.org%2Fblog%2Ffeed%2Fatom%2F&num=5&utf=y&html=y">View RSS feed</a>
      </noscript>

    </div>
    <a id="read-more" href="http://mapkibera.org/blog/">Read more <span class="icon next blue"></span></a>
  </div>
</div>
