{% if page.url == '/' %}
  <div class='globals limiter front-page'>
{% else %}
  <div class='globals limiter'>
{% endif %}
    {% unless page.slideshow %}
      <a href='#' id='toggle' class='icon toggle'>Toggle Nav</a>
    {% endunless %}
    <div class='nav clearfix'>
      <a href='{{site.baseurl}}/work' {% if page.permalink contains "/work" %}class='active'{% endif %}>Our Work</a>
      <a href='{{site.baseurl}}/theme' {% if page.permalink contains '/theme' %}class='active'{% endif %}>Themes</a>
      <a href='{{site.baseurl}}/about' {% if page.permalink contains "/about" %}class='active'{% endif %}>About the Trust</a>
      <a href='http://mapkibera.org/blog' {% if page.permalink contains "/blog" %}class='active'{% endif %}>Blog</a>
    </div>
    <a href='{{site.baseurl}}/' class='title logo'></a>
</div>
