<div class='globals'>
  <div class='limiter'>
    {% unless page.slideshow %}
      <a href='#' id='toggle' class='icon toggle'>Toggle Nav</a>
    {% endunless %}
    <div class='nav clearfix'>
      <a href='{{site.baseurl}}/work' {% if page.permalink contains "/work" %}class='active'{% endif %}>Our Work</a>
      <a href='{{site.baseurl}}/theme' {% if page.permalink contains '/theme' %}class='active'{% endif %}>Themes</a>
      <a href='{{site.baseurl}}/about' {% if page.permalink contains "/about" %}class='active'{% endif %}>About</a>
    </div>
    <a href='{{site.baseurl}}/' class='title logo'></a>
  </div>
</div>
