<ul class='col12 pager-box pager-tour clearfix' id='nav'>
  {% capture col_class %}col2{% endcapture %}
  {% for item in page.section-count %}
    {% if item.section == page.category %}
      {% if item.count == 5 %}
        {% capture col_class %}col24{% endcapture %}
      {% elsif item.count == 4 %}
        {% capture col_class %}col3{% endcapture %}
      {% endif %}

    {% endif %}
  {% endfor %}

  {% for item in site.posts reversed %}
    {% if item.category == page.category %}
      {% capture index_link %}/{{page.category}}{% endcapture %}
      {% if item.permalink != index_link %}
        <li><a class='{{col_class}} onpage {% if page.permalink == item.permalink %}active{% endif %}' id='nav-{{ item.permalink}}' href='{{site.baseurl}}/{{item.permalink}}'>{{ item.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
