---
site-title: 'Map Kibera'
section-count:
  - section: about
    count: 7
  - section: theme
    count: 6
  - section: work
    count: 4
---
<!DOCTYPE html>
<html>
<head>
  <title>{% if page.url != '/index.html' %}{{page.site-title}} | {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  <script src='{{site.baseurl}}/site.js'></script>
  <script>
    $(function() {
      mapkibera.global();
    });
  </script>

</head>

<body>
  <div class='container'>

    {% if page.slideshow %}
    <div id='header' class='header slideshow'>
      {% include slideshow.html %}
    </div>
    {% else %}
    <div id='header' class='header'>
      {% include header.html %}
    </div>
    {% endif %}
    {% include subnav.html %}

    {{content}}

    {% if page.map %}
      {% include map.html %}
    {% endif %}

    {% include footer.html %}
  </div>
</body>
</html>
