---
title: 'Map Kibera'
section-count:
  - section: about
    count: 5
  - section: theme
    count: 5
  - section: work
    count: 5
links:
  - section: about
    link: members
    title: Members
  - section: about
    link: staff-board
    title: Staff/Board
  - section: about
    link: partners
    title: Partners
  - section: about
    link: volunteers
    title: Volunteers
  - section: about
    link: media
    title: Media
  - section: theme
    link: security
    title: Security
  - section: theme
    link: watsan
    title: Water/Sanitation
  - section: theme
    link: health
    title: Health
  - section: theme
    link: education
    title: Education
  - section: theme
    link: elections
    title: Elections
  - section: work
    link: methods
    title: Methods
  - section: work
    link: locations
    title: Locations
  - section: work
    link: tools
    title: Tools
  - section: work
    link: with-us
    title: Work With Us
  - section: work
    link: projects
    title: Projects
---
<!DOCTYPE html>
<html>
<head>
  <title>{% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  <script src='{{site.baseurl}}/site.js'></script>
</head>

<body>
  <div class='container'>

    {% if page.slideshow %}
    <div id='header' class='header slideshow'>
      {% include slideshow.html %}
    </div>
    {% else %}
    <div id='header' class='header'>
      {% include header.html %}
    </div>
    {% endif %}
    {% include subnav.html %}
    {{content}}

    {% include footer.html %}
  </div>
</body>
</html>
