---
layout: default
---

<div class='listing col12 limiter'>
  {{content}}

  {% for item in page.highlights %}
      {% if item.publisher %}<h2>{{item.publisher}}</h2>{% endif %} <h3><a href="{{item.link}}">{{item.title}}</a> {% if item.author %} by {{item.author}}{% endif %}</h3>
      {% if item.quote %}
      <blockquote>{{item.quote}}</blockquote>
      {% endif %}
      {% if item.photo %}
        <img width="480" height="270" src="{{site.baseurl}}{{item.photo}}"/>
      {% endif %}
  {% endfor %}

  {{page.postcontent}}
</div>

